@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-gradient {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to right, #3b82f6, #ef4444) 1;
        /* @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-red-500; */
    }
}
